@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: jaro, Arial, sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 32pt;
    margin-bottom: 50px;
}

.center-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    width: 75%;
    justify-content: space-around;
}

.vertical-divider {
    border-left: solid 6px black;
    height: 300px;
}

#player-move, #opponent-move {
    width: 250px;
    height: 250px;
    border: solid 2px black;
    border-radius: 10%;
    max-width: 100%;
    min-width: 50%;
    height: auto;
}

.score-counter {
    text-align: center;
    font-size: 18pt;
    margin-top: 20px
}

.move-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 3%;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.move-selector {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 10%;
}

#winner-declaration {
    font-size: 16pt;
    text-align: center;
    margin-top: 10%;
    width: 400px;
}

.move-selector:hover {
    border-color: rgb(103, 192, 255);
}

@media (width <= 500px) {
    .move-container {
        flex-wrap: nowrap;
        gap: 50px;
    }

    .move-selector {
        width: 75px;
        height: 75px;
    }
    .player-move, .opponent-move {
        width: 100px;
        height: 100px;
    }
    .vertical-divider {
        height: 150px;
    }

    .score-counter {
        font-size: 10pt;
    }
}

@keyframes death {
    from {
        opacity: 100%;
        transform: translateY(0%);
        border-color: red;
    } to {
        opacity: 0%;
        transform: translateY(200%);
        border-color: red;
    }
    
}

.loss-animation {
    animation-name: death;
    animation-duration: 1s;
}

@keyframes increment {
    0% {transform: scale(100%);}
    25% {transform: scale(115%);}
    50% {transform: scale(130%);}
    75% {transform: scale(110%);}
    100% {transform: scale(115%);}
}

.increment-score {
    animation-name: increment;
    animation-duration: .2s;
}
